### Data Cleansing using pandas

In [35]:
import pandas as pd

In [77]:
df = pd.read_excel('Customer Call List (1).xlsx')
df.head()

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True

In [78]:
# check the shape, column data type

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         21 non-null     int64
 1   First_Name         21 non-null     object
 2   Last_Name          20 non-null     object
 3   Phone_Number       19 non-null     object
 4   Address            21 non-null     object
 5   Paying Customer    21 non-null     object
 6   Do_Not_Contact     17 non-null     object
 7   Not_Useful_Column  21 non-null     bool
dtypes: bool(1), int64(1), object(6)
memory usage: 1.3+ KB

In [79]:
# basic stats

df.describe()

        CustomerID
count    21.000000
mean   1010.952381
std       6.127611
min    1001.000000
25%    1006.000000
50%    1011.000000
75%    1016.000000
max    1020.000000

In [80]:
# remove duplicate rows

df = df.drop_duplicates()

In [81]:
# check null values

df.isnull().sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         2
Address              0
Paying Customer      0
Do_Not_Contact       4
Not_Useful_Column    0
dtype: int64

In [82]:
df.isna().sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         2
Address              0
Paying Customer      0
Do_Not_Contact       4
Not_Useful_Column    0
dtype: int64

In [83]:
df.isin(['N/a','N/A','na']).sum()

CustomerID           0
First_Name           0
Last_Name            0
Phone_Number         2
Address              1
Paying Customer      1
Do_Not_Contact       0
Not_Useful_Column    0
dtype: int64

In [84]:
# clean up last name

df['Last_Name'] = df['Last_Name'].str.strip('.../_')
df['Last_Name'] = df['Last_Name'].fillna('N/A')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,N/A,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [85]:
# clean up phone number

df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','-')
df['Phone_Number'] = df['Phone_Number'].fillna('N/A')
df

C:\Users\Lenovo\AppData\Local\Temp/ipykernel_17056/1292132784.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Phone_Number'] = df['Phone_Number'].str.replace('[^a-zA-Z0-9]','-')

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,N/A,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,N/A,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,N/A,N-a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,N/A,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,N/A,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,N/A,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N-a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [87]:
df['Phone_Number'] = df['Phone_Number'].replace('N-a','N/A')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,No,Yes,False
2,1003,Walter,White,N/A,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,N/A,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,No,False
8,1009,Gandalf,N/A,N/A,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,N/A,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,Potter,N/A,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,N/A,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/A,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [95]:
# clean address, split address

df[['Street_Name','State','Zip_Code']] = df['Address'].str.split(',',expand=True)
df = df.drop(columns='Address')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Name,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Yes,No,True,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,No,Yes,False,93 West Main Street,None,None
2,1003,Walter,White,N/A,N,NaN,True,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,True,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,No,True,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,True,768 City Parkway,None,None
6,1007,Jeff,Winger,N/A,No,No,False,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,No,False,98 Clue Drive,None,None
8,1009,Gandalf,N/A,N/A,Yes,NaN,False,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,Yes,No,True,25th Main Street,New York,None
10,1011,Samwise,Gamgee,N/A,Yes,No,True,612 Shire Lane,Shire,None
11,1012,Harry,Potter,N/A,Y,NaN,True,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,Yes,N,False,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Yes,No,False,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,No,False,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,No,N,False,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Yes,No,False,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,N/A,Y,NaN,True,3498 Super Lane,None,None
18,1019,Creed,Braton,N/A,N/a,Yes,True,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,Yes,N,True,910 Tatooine Road,Tatooine,None

In [98]:
# clean paying customer

df['Paying Customer'] = df['Paying Customer'].str.replace('Yes','Y')
df['Paying Customer'] = df['Paying Customer'].str.replace('No','N')
df['Paying Customer'] = df['Paying Customer'].str.replace('N/a','N/A')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Name,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,No,True,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,N,Yes,False,93 West Main Street,None,None
2,1003,Walter,White,N/A,N,NaN,True,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,True,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,No,True,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Y,Yes,True,768 City Parkway,None,None
6,1007,Jeff,Winger,N/A,N,No,False,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,No,False,98 Clue Drive,None,None
8,1009,Gandalf,N/A,N/A,Y,NaN,False,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,Y,No,True,25th Main Street,New York,None
10,1011,Samwise,Gamgee,N/A,Y,No,True,612 Shire Lane,Shire,None
11,1012,Harry,Potter,N/A,Y,NaN,True,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,Y,N,False,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Y,No,False,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,No,False,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,N,N,False,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Y,No,False,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,N/A,Y,NaN,True,3498 Super Lane,None,None
18,1019,Creed,Braton,N/A,N/A,Yes,True,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,True,910 Tatooine Road,Tatooine,None

In [99]:
# clean Do_Not_Contact

df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('Yes','Y')
df['Do_Not_Contact'] = df['Do_Not_Contact'].str.replace('No','N')
df['Do_Not_Contact'] = df['Do_Not_Contact'].fillna('N/A')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Name,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,True,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,N,Y,False,93 West Main Street,None,None
2,1003,Walter,White,N/A,N,N/A,True,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,True,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,N,True,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Y,Y,True,768 City Parkway,None,None
6,1007,Jeff,Winger,N/A,N,N,False,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,False,98 Clue Drive,None,None
8,1009,Gandalf,N/A,N/A,Y,N/A,False,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,Y,N,True,25th Main Street,New York,None
10,1011,Samwise,Gamgee,N/A,Y,N,True,612 Shire Lane,Shire,None
11,1012,Harry,Potter,N/A,Y,N/A,True,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,Y,N,False,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Y,N,False,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,N,False,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,N,N,False,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Y,N,False,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,N/A,Y,N/A,True,3498 Super Lane,None,None
18,1019,Creed,Braton,N/A,N/A,Y,True,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,True,910 Tatooine Road,Tatooine,None

In [100]:
# clean Street_Name

df['Street_Name'] = df['Street_Name'].fillna('N/A')
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Name,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,True,123 Shire Lane,Shire,None
1,1002,Abed,Nadir,123-643-9775,N,Y,False,93 West Main Street,None,None
2,1003,Walter,White,N/A,N,N/A,True,298 Drugs Driveway,None,None
3,1004,Dwight,Schrute,123-543-2345,Y,Y,True,980 Paper Avenue,Pennsylvania,18503
4,1005,Jon,Snow,876-678-3469,Y,N,True,123 Dragons Road,None,None
5,1006,Ron,Swanson,304-762-2467,Y,Y,True,768 City Parkway,None,None
6,1007,Jeff,Winger,N/A,N,N,False,1209 South Street,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,False,98 Clue Drive,None,None
8,1009,Gandalf,N/A,N/A,Y,N/A,False,123 Middle Earth,None,None
9,1010,Peter,Parker,123-545-5421,Y,N,True,25th Main Street,New York,None
10,1011,Samwise,Gamgee,N/A,Y,N,True,612 Shire Lane,Shire,None
11,1012,Harry,Potter,N/A,Y,N/A,True,2394 Hogwarts Avenue,None,None
12,1013,Don,Draper,123-543-2345,Y,N,False,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Y,N,False,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,N,False,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,N,N,False,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Y,N,False,121 Paper Avenue,Pennsylvania,None
17,1018,Clark,Kent,N/A,Y,N/A,True,3498 Super Lane,None,None
18,1019,Creed,Braton,N/A,N/A,Y,True,N/a,None,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,True,910 Tatooine Road,Tatooine,None

In [104]:
# check null

df.isnull().sum()

CustomerID            0
First_Name            0
Last_Name             0
Phone_Number          0
Paying Customer       0
Do_Not_Contact        0
Not_Useful_Column     0
Street_Name           0
State                14
Zip_Code             19
dtype: int64

In [106]:
# check N/A

df.isin(['N/A']).sum()

CustomerID           0
First_Name           0
Last_Name            1
Phone_Number         7
Paying Customer      1
Do_Not_Contact       4
Not_Useful_Column    0
Street_Name          0
State                0
Zip_Code             0
dtype: int64

In [113]:
# drop the records with no phone number and Do_Not_Contact == Y

for x in df.index:
    if (df.loc[x,'Do_Not_Contact'] == 'Y') | (df.loc[x,'Phone_Number'] == 'N/A'):
        df.drop(x,inplace=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Name,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,True,123 Shire Lane,Shire,None
4,1005,Jon,Snow,876-678-3469,Y,N,True,123 Dragons Road,None,None
7,1008,Sherlock,Holmes,876-678-3469,N,N,False,98 Clue Drive,None,None
9,1010,Peter,Parker,123-545-5421,Y,N,True,25th Main Street,New York,None
12,1013,Don,Draper,123-543-2345,Y,N,False,2039 Main Street,None,None
13,1014,Leslie,Knope,876-678-3469,Y,N,False,343 City Parkway,None,None
14,1015,Toby,Flenderson,304-762-2467,N,N,False,214 HR Avenue,None,None
15,1016,Ron,Weasley,123-545-5421,N,N,False,2395 Hogwarts Avenue,None,None
16,1017,Michael,Scott,123-643-9775,Y,N,False,121 Paper Avenue,Pennsylvania,None
19,1020,Anakin,Skywalker,876-678-3469,Y,N,True,910 Tatooine Road,Tatooine,None

In [115]:
# reset index

df = df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Not_Useful_Column,Street_Name,State,Zip_Code
0,1001,Frodo,Baggins,123-545-5421,Y,N,True,123 Shire Lane,Shire,None
1,1005,Jon,Snow,876-678-3469,Y,N,True,123 Dragons Road,None,None
2,1008,Sherlock,Holmes,876-678-3469,N,N,False,98 Clue Drive,None,None
3,1010,Peter,Parker,123-545-5421,Y,N,True,25th Main Street,New York,None
4,1013,Don,Draper,123-543-2345,Y,N,False,2039 Main Street,None,None
5,1014,Leslie,Knope,876-678-3469,Y,N,False,343 City Parkway,None,None
6,1015,Toby,Flenderson,304-762-2467,N,N,False,214 HR Avenue,None,None
7,1016,Ron,Weasley,123-545-5421,N,N,False,2395 Hogwarts Avenue,None,None
8,1017,Michael,Scott,123-643-9775,Y,N,False,121 Paper Avenue,Pennsylvania,None
9,1020,Anakin,Skywalker,876-678-3469,Y,N,True,910 Tatooine Road,Tatooine,None

**YouTube Video Source** -> https://youtu.be/bDhvCp3_lYw?si=GfK9QpWELcA8ZeZ8